@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-cream-50 dark:bg-gray-700 text-black dark:text-white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a:active,
button:active {
  transform: scale(0.98);
  transition-duration: 200ms;
}

.modal {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::selection {
  background: #ebdfc0;
  color: black;
}

.dark ::selection {
  background: #171717;
  color: #fff;
}

::-moz-selection {
  background: #ebdfc0;
  color: black;
}

.dark ::-moz-selection {
  background: #171717;
  color: #fff;
}

::-webkit-selection {
  background: #ebdfc0;
  color: black;
}

.dark ::-webkit-selection {
  background: #171717;
  color: #fff;
}

input:-webkit-autofill {
  background-color: transparent !important;
  border-radius: 0 !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
}

input:-webkit-autofill:focus {
  outline: none;
}
