@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	@apply dark:bg-gray-700;
}

:root {
  --bg-light: hsl(60, 53%, 93%);
}

body {
  background-color: var(--bg-light);
}

.modal-open {
  overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f2ebd4;
  border: 1px solid black;
  border-radius: 6px;
  outline: rgb(219, 219, 219);
}

.dark ::-webkit-scrollbar-thumb {
  background: #1f2937;
  border: 1px solid white;
}