@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply dark:bg-gray-600 text-black dark:text-white;
}

:root {
  --bg-light: rgb(247, 244, 228);
}

body {
  background-color: var(--bg-light);
}

.custom-card {
  @apply bg-cream dark:bg-gray-700 border-[1px] border-black dark:border-white rounded-lg shadow-lg hover:shadow-2xl transition-all duration-300;
}

.custom-card-transparent {
  @apply bg-transparent border-[1px] border-black dark:border-white rounded-lg shadow-lg hover:shadow-2xl transition-all duration-300;
}

.custom-card-no-transition {
  @apply bg-cream dark:bg-gray-700 border-[1px] border-black dark:border-white rounded-lg shadow-lg hover:shadow-2xl;
}

.modal-open {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f2ebd4;
  border: 1px solid black;
  border-radius: 6px;
  outline: rgb(219, 219, 219);
}

.dark ::-webkit-scrollbar-thumb {
  background: #252f3e;
  border: 1px solid white;
}
